body{
    margin:0;
    padding:0;
}

.google-img{
    position: absolute;
    top:0;
    bottom: 175px;
    left: 0;
    right: 0;

    margin: auto;
}

img {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.form {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
input {
    width:544px;
    height:42px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100px;
    border-style: none;
    background-color: rgba(128,134,139,.2);
    margin: auto;
    font-size: 15px;
}
.mic {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 470px;
}